
<!-- <h3>Enter in their name and number below:<br>

<form action="/clients" method="post">
  <input id="client_id" name="client_id" type="hidden" value="<%= @stylist.id() %>">

  <input id="name" name="name" type="text" placeholder="i.e. Maximillian Victorius III">
  <input id="phone" name="phone" type="text" placeholder="i.e. 8082225555">

  <button type="submit">Add venue</button>
</form> -->
