<center><h1>The Band Tracker :: Add a Band</h1>
<br>

<h4>
<form action = "/bands" method = "post">

<label for="band">Add a band</label>
<input id="name" name="name" type="text" placeholder="i.e. Pearl Jam">

<button name="button" class="btn-success">Go</button>
</form>
</h4>
<hr>

  <div class="container">
    <a href="/"><button class="btn-danger">Home</button></a>
    </div>
  </center>
