<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BandTracker</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/bands">Bands</a></li>
        <li><a href="/venues">Venues</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Band list</h1>
    <p>Click on a band, see where they have performed
    <br>
    <% if @bands.any?() %>
      <ul style="list-style-type:circle">
        <h3>
        <% @bands.each() do |band| %>
        <li><a href="/band/<%= band.id()%>" style="color:orange"><%= band.name() %></a> </ol>
        <% end %>
        </h3>
      </ul>
      <% else %>
      <p>There are no bands in the system yet :: add one
    <% end %>
    <br>
    <p>Want to see more bands? Go ahead, add one.
    <br>
    <a href="/band/new" class="btn btn-warning btn-default"><span class="glyphicon glyphicon-plus"></span> Add band</a>
  </div>
</div>
