<center>
<h1>The Band Tracker :: Track your Bands</h1>
<br>
<h3>Welcome to the main portal. Here you can add, edit, update and delete bands and venues to help keep track of the bands you enjoy.</h2>
<br>
<hr>
<center>
  <div class="container">
    <a href="/bands"><button class="btn-danger">View All Bands</button></a>
    <a href="/venues"><button class="btn-danger">View All Venues</button></a>
    </div>
  </center>
</center>
