<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BandTracker</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/bands">Bands</a></li>
        <li><a href="/venues">Venues</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>BandTracker</h1>
    <p>Keep track of where bands perform
      <br>
      <br>
      Step 1 :: Add a venue
      <br>
      Step 2 :: Add a band
      <br>
      Step 3 :: Start tracking!</p>
      <br>
    <a href="/venues" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-music"></span> Get Started</a>
  </div>
</div>
