<center><h1>The Band Tracker :: Add a Venue</h1>
<br>

<h4>
<form action = "/venues" method = "post">

<label for="venue">Add a venue</label>
<input id="name" name="name" type="text" placeholder="i.e. Moda Center">

<button name="button" class="btn-success">Go</button>
</form>
</h4>
<hr>

<div class="container">
  <a href="/"><button class="btn-danger">Home</button></a>
  </div>
</center>
